*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
}

a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
p {
  margin: 0;
}

svg {
  fill: none;
}

.container {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  max-width: 320px;
}

/* Header */

.header {
  background: var(--WHITE, #fff);
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-naviggation {
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.header-container {
  display: flex;
  padding: 16px;
}
.header-logo {
  margin-right: 76px;
}

.header-logo-item {
  color: #2e2f42;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}

.header-logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}

.header-menu-list {
  display: flex;
  gap: 40px;
}
.header-menu-item {
}
.header-menu-link:hover {
  color: var(--OCEAN, #404bbf);
}
.header-menu-link:focus {
  color: var(--OCEAN, #404bbf);
}
.header-menu-link {
  color: #2e2f42;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 24px 0;
  display: inline-block;
}

.header-menu-list .header-menu-item {
  position: relative;
}

.studio-item {
  opacity: 1;
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio-item::after {
  content: "";
  bottom: -1px;
  display: block;
  width: 100%;
  position: absolute;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

.headder-address {
  font-style: normal;
}
.header-address-list {
  display: flex;
  margin-right: auto;
  gap: 40px;
}
.header-address-item {
}
.header-aaddress-link:hover {
  color: var(--OCEAN, #404bbf);
}
.header-aaddress-link:focus {
  color: var(--OCEAN, #404bbf);
}
.header-aaddress-link {
  color: var(--SLATE, #434455);
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: inline-block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-icon-link {
}
/* Hero */

.hero-container {
}

@media screen and (min-resolution: 2dppx) {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-mob-2x.jpg);
}

.main {
}
.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-mob-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #2e2f42;
  padding-bottom: 72px;
  padding-top: 72px;
  margin: 0 auto;
  max-width: 320px;
}
.hero-title {
  color: var(--WHITE, #fff);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  padding-bottom: 72px;
  max-width: 216px;
  text-align: center;
  margin: 0 auto;
}

.hero-buy-btn {
  background: var(--IRIS, #4d5ae5);
  color: var(--WHITE, #fff);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  text-align: center;
  margin: auto;
  display: block;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-buy-btn:hover {
  background: var(--OCEAN, #404bbf);
}
.hero-buy-btn:focus {
  background-color: #404bbf;
}

.modal-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.modal-container {
}

.modal-input-container {
  position: relative;
}
.modal-label {
  display: block;
  color: var(--LIGHT-SLATE, #8e8f99);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}
.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  outline: transparent;
  padding-left: 38px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  position: absolute;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.text-area-container {
  margin-bottom: 16px;
}
.form-container {
  margin-bottom: 8px;
}
.privacy-check {
}

.policy-container {
  position: relative;
  margin-bottom: 24px;
}

.modal-privacy-icon {
  fill: inherit;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background-color: #fcfcfc;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 72px 24px 24px 24px;
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn:hover > .modal-close-icon,
.modal-close-btn:focus > .modal-close-icon {
  fill: #ffffff;
}

.modal-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.title-container {
}

.send-btn {
  display: block;
  color: var(--WHITE, #fff);
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}

.send-btn:focus,
.send-btn:hover {
  background: var(--OCEAN, #404bbf);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.modal-area {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  resize: none;
  padding: 8px 16px;
  background-color: transparent;
  outline: transparent;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-name {
  color: var(--LIGHT-SLATE, #8e8f99);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.policy-link {
  color: var(--IRIS, #4d5ae5);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}

.checkbox-name span {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  border-radius: 2px;
}

.check-input:checked + .checkbox-name span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

/* Advantages */

.advantages {
  background: #fff;
  padding: 96px 16px;
}

.advantages-container {
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantages-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  row-gap: 72px;
}
.advantages-list-item {
  width: 100%;
}

.advantages-list-item-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.advantages-item-text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.advantages-icon-container {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  justify-content: center;
  padding: 24px 100px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  height: 112px;
}

.advantage-icon {
}

/* Team */

.team {
  background: #f4f4fd;
  padding-bottom: 96px;
  padding-top: 96px;
}
.team-container {
  padding: 0 28px;
}

.team-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
}
.team-list-item {
  background-color: #ffffff;
  width: 100%;

  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-text {
  padding: 32px 0;
}
.team-list-title {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}
.team-list-img {
  display: block;
  max-width: 100%;
  height: auto;
}
.team-list-text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.soc-icon-list {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}

.team-icon-item {
  width: 40px;
  height: 40px;
}

.team-icon-link {
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-icon-link {
  max-width: 100%;
  max-height: 100%;
}

.team-soc-icon {
  fill: #f4f4fd;
}

.team-icon-link:hover {
  background-color: #404bbf;
}

.team-icon-link:focus {
  background-color: #404bbf;
}

/* Portfolio */

.portfolio {
  background: #fff;
  padding-bottom: 96px;
  padding-top: 96px;
}
.portfolio-container {
  padding: 0 16px;
  border-top: none;
}
.portfolio-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-title {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  text-align: center;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-list-item {
  background-color: #ffffff;
  width: 100%;
  /* width: calc((100% - 48px) / 3); */
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-img {
  display: block;
  max-width: 100%;
  height: auto;
}
.portfolio-item-title {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
.portfolio-item-text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-hover-text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.portfolio-list-item:hover .hover-text {
  transform: translateY(0%);
}

.hover-text {
  position: absolute;
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  top: 0;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Footer */

.footer {
  background: var(--NAVY-BLUE, #2e2f42);
}
.footer-link {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 16px;
  align-items: center;
}
.footer-logo-link {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-weight: 700;
}
.footer-text {
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

.soc-footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 72px 0;
}
.footer-soc-text {
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-soc-list {
  display: flex;
  align-items: center;
  gap: 16px;
}
.footer-soc-item {
  width: 40px;
  height: 40px;
}
.footer-soc-link {
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover {
  background-color: #31d0aa;
}

.footer-soc-link:focus {
  background-color: #31d0aa;
}

.footer-icon {
  fill: #f4f4fd;
}
.soc-footer-link {
  max-width: 100%;
  max-height: 100%;
}

.footer-container {
  /* align-items: baseline; */
  max-width: 320px;
  display: flex;
  flex-direction: column;
  padding: 96px 16px;
}

.container-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-modal-edit {
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--WHITE, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #ffffff;
}

.footer-modal-edit::placeholder {
  color: #ffffff;
}

.subscribe-btn {
  color: var(--WHITE, #fff);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  max-width: 165px;
  height: 40px;
  cursor: pointer;
  border: none;
  margin: 0 auto;
}
.modal-footer-title {
  margin-bottom: 16px;
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-modal-icon {
  fill: #ffffff;
  margin-left: 16px;
}

.checkbox-name {
  display: flex;
  align-items: center;
}

/* Mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .header-menu-list {
    display: none;
  }

  .headder-address {
    display: none;
  }

  .advantages-icon-container {
    display: none;
  }

  .modal {
    width: 288px;
    min-height: 623px;
    padding: 72px 17px 24px 16px;
  }

  .privacy-check {
    flex-shrink: 0;
  }

  .policy-items {
  }

  .policy-link {
  }
  /* Mobile menu */

  .mob-menu {
    position: fixed;
    z-index: 1000;
    top: 0;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    padding: 24px 24px 40px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .meny-close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .close-meny-btn {
    display: block;
    margin-left: auto;
    margin-bottom: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 24px;
    height: 24px;
  }

  .menu-navigation {
    margin-bottom: 120px;
  }
  .menu-nav-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .address-menu-list {
  }
  .address-menu-item:not(:last-child) {
    margin-bottom: 24px;
  }

  .mob-aaddress-link {
    color: var(--SLATE, #434455);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .number-menu-link {
    color: var(--IRIS, #4d5ae5);
  }
  .header-mob-menu-link {
    color: var(--NAVY-BLUE, #2e2f42);
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }

  .studio-menu-link {
    color: var(--OCEAN, #404bbf);
  }

  .icon-menu-container {
  }
  .soc-menu-list {
    display: flex;
    gap: 40px;
  }
  .soc-menu-item {
  }
  .mob-menu-icon {
  }
  .mob-icon-link {
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/* Tab */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0;
  }

  /* Header */

  .mob-menu {
    display: none;
  }

  .header-container {
    padding: 0 16px;
    height: auto;
  }

  .header-address-list {
    flex-direction: column;
    gap: 12px;
    padding: 16px 0;
  }

  .header-aaddress-link {
    padding: 0;
    font-size: 12px;
  }

  .header-logo {
    margin-right: 120px;
  }

  .studio-item::after {
    bottom: -10px;
  }
  .header-menu-link {
    padding: 20px 0;
  }

  .mobile-menu {
    display: none;
  }

  /* Hero */
  .hero {
    padding-bottom: 112px;
    padding-top: 112px;
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-tab-1x.jpg);
    background-size: cover;
  }
  @media screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-tab-2x.jpg);
  }

  .hero-title {
    max-width: 496px;
    font-size: 56px;
  }

  /* Advantages */
  .advantages-list {
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 72px;
  }
  .advantages-list-item {
    width: calc((100% - 24px) / 2);
  }

  .advantages-container {
    max-width: 768px;
  }

  .advantages-list-item-title {
    text-align: left;
  }

  .advantages-icon-container {
    display: none;
  }

  /* team */

  .team {
    background: #f4f4fd;
    padding-bottom: 96px;
    padding-top: 96px;
  }
  .team-container {
    padding: 0 108px;
    max-width: 768px;
    margin: 0 auto;
  }

  .team-list {
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 64px;
  }
  .team-list-item {
    background-color: #ffffff;
    width: 100%;
    width: calc((100% - 24px) / 2);
  }

  /* portfolio */

  .portfolio-container {
    padding: 0 16px;
    border-top: none;
    max-width: 768px;
  }

  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .portfolio-list-item {
    background-color: #ffffff;

    width: calc((100% - 24px) / 2);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* footer */

  .container {
    width: auto;
  }

  .footer-container {
    padding: 96px 108px;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 72px 24px;
  }

  .soc-footer-container {
    margin: 0;
  }

  .container-text {
    display: flex;
    max-width: 768px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: baseline;
  }

  .footer-modal {
    display: flex;
    align-items: flex-start;
  }

  .footer-form {
    flex-direction: row;
  }

  .modal-footer-title {
  }
}

/* Web */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  /* Header-web */

  .mob-menu {
    display: none;
  }

  .header-container {
    padding: 0;
    align-items: baseline;
  }

  .header-address-list {
    flex-direction: row;
    gap: 40px;
    padding: 16px 0;
  }

  .header-aaddress-link {
    padding: 0;
    font-size: 16px;
  }

  .header-menu-link {
    padding: 24px 0;
  }

  .studio-item::after {
    bottom: -1px;
  }

  .mobile-menu {
    display: none;
  }
  /* Hero-web */
  .hero {
    padding-bottom: 188px;
    padding-top: 188px;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-web-1x.jpg);
  }

  @media screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-web-2x.jpg);
  }

  /* Advantages-web */

  .advantages-list {
    display: flex;
  }

  .advantages-list-item {
    width: calc((100% - 72px) / 4);
  }

  .advantages-icon-container {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    justify-content: center;
    padding: 24px 100px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    height: 112px;
  }

  .advantages-list-item-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .advantages {
    padding: 120px 0px;
  }

  .advantages-item-text {
    font-size: 16px;
    font-weight: 400;
  }

  /* Team-web */

  .team {
    padding: 0;
  }

  .team-container {
    padding: 120px 0;
    margin: 0 auto;
  }

  .team-list {
    gap: 24px;
    flex-wrap: nowrap;
  }
  .team-list-item {
    width: calc((100% - 72px) / 4);
    max-width: 264px;
  }

  .team-list-img {
    width: 100%;
  }

  /* Portfolio-web */

  .portfolio-container {
    padding: 120px 0;
  }

  .portfolio {
    padding: 0;
  }

  .portfolio-list-item {
    width: calc((100% - 48px) / 3);
    max-width: 360px;
  }

  /* Footer-web */

  .footer-container {
    align-items: baseline;
    padding: 100px 0;
    gap: 0;
  }

  .footer-form {
    flex-direction: unset;
    gap: 24px;
  }

  .container-text {
    display: block;
    max-width: 264px;
    margin-right: 120px;
  }

  .soc-footer-container {
    margin: 0;
    align-items: flex-start;
    margin-right: 80px;
  }

  .subscribe-btn:hover {
    background-color: #404bbf;
  }

  .subscribe-btn:focus {
    background-color: #404bbf;
  }

  .modal-area:focus {
    border-color: #4d5ae5;
  }

  .modal-input:focus {
    border-color: #4d5ae5;
  }

  .modal-input:focus + .modal-icon {
    stroke: #4d5ae5;
    fill: #4d5ae5;
  }
}
